// utils

header, footer {
    height: 150px;
    background-color: $bg-color;
    padding: 10px 20px;
    color: white;
  }
  header {
    box-shadow: 0 5px 5px $secondary-color;
    font-size: 1.2rem;
  }

  footer {
    box-shadow: 0 -5px 5px $secondary-color;
  }
  